.simplebar-horizontal .simplebar-scrollbar {
  background: linear-gradient(to right, #dc2430, #7b4397);
  border: none;
  border-radius: 20px;
}
.simplebar-content-wrapper {
  border-width: 10px;
  border-color: rgb(133, 137, 148);
  padding: 20px;
  border-radius: 5px;
}
.simplebar-scrollbar.simplebar-hover {
  background: linear-gradient(to right, #dc2430 0, #7b4397 50%);
}
.simplebar-scrollbar.simplebar-hover:before {
  display: none;
}
.simplebar-content {
  display: flex;
  height: 75%;
  flex-wrap: nowrap;
  gap: 2.5rem;
  flex-direction: row;
}
.simplebar-scrollbar:before {
  border-radius: 0;
  transition-delay: 0s;
  background: none;
}
.whenClick {
  background: linear-gradient(to right, #9f161f 0, #3a1b4a 50%);
}
