#list_content {
 --color-red: #dc2430;
 --color-yellow: #FCD354;
 --color-black: #1D1E21;
}

#list_content {
    border-bottom: none;
 

}

#list_content::-webkit-scrollbar {

  height: 10px;
  border-radius: 10px;
}

/* Track */
#list_content::-webkit-scrollbar-track {
 background-clip: content-box;
  background: rgb(133, 137, 148);
   
}

#list_content::-webkit-scrollbar-thumb {
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); 
   border-radius: 15px;
   width: 10%;
      transition: all 10s cubic-bezier(0.165, 0.84, 0.44, 1);
 
}


#list_content::-webkit-scrollbar-thumb:hover {
 background: -webkit-linear-gradient(to right, #dc2430 0, #7b4397 40%);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430 0, #7b4397 40%);
}