.container {
  height: 300px;
  width: 500px;
  overflow: hidden;
}

.blob {
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  left: 40%;
  top: 10%;
  z-index: -10;
  filter: blur(100px);
  border-radius: 50%;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  animation: rotate 8s infinite;
  animation-timing-function: ease-in;
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(200px);
  z-index: -1;
}
.backdrop {
  position: absolute;
  z-index: -50;
  height: 100%;
  width: 100%;
}
.simplebar-scrollbar {
  background-color: red;
  border: 1px solid white;
}
