.gradient {
  background-color: #4158d0;
  background-image: linear-gradient(
    77deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.fagradient {
  background-color: #4158d0;
  background: -webkit-linear-gradient(
    77deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
